* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}

body {
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

p {
    line-height: 1.6;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

header {
    background-color: #000;
    height: 100px;
}

header .container {
    display: flex;
    align-items: center;
    height: 100px;
}

.logo_img {
    width: 60px;
    height: 60px;
    background-color: #b28756;
}

.header_menu {
    flex: 1;
}

.header_menu {
    display: flex;
    justify-content: flex-end;
}

.header_menu ul {
    display: flex;
}

.header_menu ul li a {
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 14px;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    align-items: center;
    height: 100px;
    border-bottom: 5px solid #000;
}

.header_menu ul li a:hover,
.header_menu .active a {
    border-bottom: 5px solid #b28756;
    color: #ccc;
}

.banner {
    background-color: #333;
    background-image: url(../images/bg.jpg);
    background-size: cover;
    background-position: bottom;
    height: calc(100vh - 100px);
    overflow: hidden;
}

.banner .sliders {
    width: 1000vw;
    height: 100%;  
    display: flex;
}

.banner .sliders .slide {
    width: 100vw;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
}

.banner .slide_info {
    font-weight: bold;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.banner .slide_info h1 {
    font-size: 42px;
    color: #ffffff;
    margin-bottom: 15px;
    text-align: center;
}

.banner .slide_info h1 span {
    color: #b28756;
}

.banner .slide_info h4 {
    font-size: 24px;
    color: #ffffff;
    margin-bottom: 30px;
}

.banner .slide_info a {
    color: #ffffff;
    font-size: 14px;
    padding: 12px 40px;
    border-radius: 20px;
    background-color: #b28756;
}

.banner .sliders_dots {
    width: 100vw;
    height: 20px;
    position: absolute;
    margin-top: -50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner .dot {
    height: 15px;
    width: 15px;
    border: 2px solid #b28756;
    border-radius: 8px;
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer;
}

.banner .dot.active {
    background-color: #b28756;
}

.section_title {
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 50px;
}

.section_title h2 {
    font-size: 28px;
    margin-bottom: 15px;
}

.section_title h4 {
    font-size: 14px;
    color: #adadad;
}

.about {
    padding-top: 60px;
    padding-bottom: 55px;
    background-color: #f7f7f7;
}

.about_wrapper {
    display: flex;
}

.about_info p {
    margin-bottom: 40px;
}

.about_video img {
    box-shadow: 0px 0px 8px black;
}

.btn-primary {
    color: #ffffff;
    font-size: 12px;
    padding: 12px 40px;
    border-radius: 20px;
    background-color: #b28756;
    text-transform: uppercase;
    font-weight: bold;
}

.default {
    padding-top: 50px;
    padding-bottom: 50px;
}

.default .section-title, 
.default .section-desc {
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
}

.default .section-title {
    font-size: 28px;
}

.default .section-desc {
    font-size: 14px;
    color: #adadad;
    margin-top: 10px;
    margin-bottom: 20px;
}

.default .section-body {
    max-width: 1140px;
    margin: auto;
}

.default.dark {
    background-color: #000;
}

.default.dark .section-title {
    color: #ffffff;
}

.default.light {
    background-color: #f7f7f7;
}

.default.light .section-title {
    color: #000;
}



.section-services {
    display: flex;
    margin-top: 40px;
}

.section-services-item {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-left: 2px solid #333;
}

.section-services-item:last-child {
    border-right: 2px solid #333;
}

.section-services-icon {
    margin-bottom: 30px;
}

.section-services-title,
.section-services-desc {
    text-align: center;
    line-height: 1.6;
}

.section-services-title {
    text-transform: uppercase;
    color: white;
    font-weight: bold;
    margin-bottom: 10px;
}

.section-services-desc {
    font-size: 14px;
    color: #ccc; 
}

.section-projetos {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-projetos-menu {
    background-color: #ededed;
    border-radius: 25px;
    border: 1px solid #ccc;
    margin-top: 30px;
    padding: 0 20px;
}

.section-projetos-menu ul {
    display: inline-block;
    text-transform: uppercase;
}

.section-projetos-menu ul li {
    border-right: 1px solid #ccc;
    padding: 15px;
    display: inline-block;
    margin-top: 4px;
    margin-bottom: 4px;
    border-bottom: 5px solid #ededed;
    cursor: pointer;
}

.section-projetos-menu ul li:last-child {
    border-right: none;
}

.section-projetos-menu ul li a {
    color: #333;
    display: block;
}

.section-projetos-menu ul li:hover,
.section-projetos-menu ul li.active {
    border-bottom: 5px solid #b28756;
}


.section-projetos-list {
    width: 100wh; /* utiliza todo o tamanho caso tela for menor que 1140px */
    max-width: 1140px;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.section-projetos-photo {
    width: 280px;
}

.section-projetos-photoarea {
    width: 260px;
    height: 160px;
    margin: 10px;
}

.section-projetos-photoarea img {
    width: inherit;
    height: inherit;
}

.section-projetos-photoinfo {
    position: absolute;
    width: inherit;
    height: inherit;
    color: #fff;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    transition: 500ms;
    cursor: default;
}

.section-projetos-photo:hover .section-projetos-photoinfo {
    display: flex;
}

.section-projetos-photoinfo h2 {
    text-transform: uppercase;
    font-weight: 600;
}

.section-projetos-photoinfo p {
    margin-top: 10px;
}

.section-fundo {
    background-color: rgba(0, 0, 0, 0.8);
    padding-top: 50px;
    padding-bottom: 50px;
}

.bg-team {
    background-image: url(../media/foto6.jpg);
    background-size: cover;
    background-position: center;
    padding: 0;
}

.section-team {
    overflow: hidden;
    max-width: 880px;
    margin: auto;
}

.section-team .sliders {
    display: flex;
}

.section-team .slide {
    width: 280px;
    height: 300px;
    display: inline-block;
    background-color: #ffffff;
    margin-right: 20px;
}





